<table class="table">
  <thead>
    <tr>
      <th><abbr title="Name">Name</abbr></th>
      <th><abbr title="LastName">LastName</abbr></th>
      <th><abbr title="Email">Email</abbr></th>
      <th><abbr title="Company">Company</abbr></th>
      <th><abbr title="Actions">Actions</abbr></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th><abbr title="Name">Name</abbr></th>
      <th><abbr title="LastName">LastName</abbr></th>
      <th><abbr title="Email">Email</abbr></th>
      <th><abbr title="Company">Company</abbr></th>
      <th><abbr title="Actions">Actions</abbr></th>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>john.doe@gmail.com</td>
      <td>Google</td>
      <td>
        <button class="button is-primary mr-1">Edit</button>
        <button class="button is-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
